@use "../../foundation/_mixin.scss" as mixin;

.sec{
  &.pt0{
    padding-top: 0;
  }
  @include mixin.mq-up{
    padding: var(--space-lg) 0;
  }
  @include mixin.mq-down{
    padding: var(--space-lg-sm) 0;
  }
}
.sec__btn{
  display: flex;
  justify-content: center;
  @include mixin.mq-up{
    margin-top: var(--space-md);
  }
  @include mixin.mq-down{
    margin-top: var(--space-md-sm);
  }
}