@use "../../foundation/_mixin.scss" as mixin;

/**------------------------
- variables
*------------------------*/
.ham {
  --ham-w: 3.2rem;
  --ham-h: 0.2rem;
  --ham-space: 0.8rem;
  --ham-clr-dflt: var(--txt-Black);
  --ham-clr-active: white;
  --ham-radius: 0.4rem;
  --ham-hover-opacity: 0.7;
}

/**------------------------
- ham
*------------------------*/
.ham {
  position: relative;
  z-index: 100;
  display: inline-block;
  cursor: pointer;
  transition: all .3s;

  &.is-active {

    .ham-inner,
    .ham-inner::before,
    .ham-inner::after {
      background-color: var(--ham-clr-active);
    }
  }
}

.ham-box {
  width: var(--ham-w);
  height: calc(var(--ham-h) * 3 + var(--ham-space) * 2);
  display: inline-block;
  position: relative;
}

.ham-inner {
  display: block;
  top: 50%;

  &,
  &::before,
  &::after {
    width: var(--ham-w);
    height: var(--ham-h);
    background-color: var(--ham-clr-dflt);
    border-radius: var(--ham-radius);
    position: absolute;
    transition: all .3s;
  }

  &::before,
  &::after {
    content: "";
    display: block;
  }

  &::before {
    top: calc((var(--ham-space) + var(--ham-h)) * -1);
  }

  &::after {
    bottom: calc((var(--ham-space) + var(--ham-h)) * -1);
  }
}


/*
* 3DY
*/
.ham--3dy {
  .ham-box {
    perspective: calc(var(--ham-w) * 2);
  }

  .ham-inner {
    transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1),
      background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);

    &::before,
    &::after {
      transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
  }

  &.is-active {
    .ham-inner {
      background-color: transparent !important;
      transform: rotateX(-180deg);

      &::before {
        transform: translate3d(0, calc(var(--ham-h) + var(--ham-space)), 0) rotate(45deg);
      }

      &::after {
        transform: translate3d(0, calc((var(--ham-h) + var(--ham-space)) * -1), 0) rotate(-45deg);
      }
    }
  }
}

/**------------------------
- hamArea
*------------------------*/
.hamArea {
  visibility: hidden;
  opacity: 0;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-self: center;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  transition: all .3s;
  text-align: center;

  body.is-active & {
    visibility: initial;
    opacity: 1;
  }
}