@use "../../foundation/_mixin.scss" as mixin;

.hd{
  @include mixin.pc{
    height: 8rem;
    padding: 2.4rem 0 0 0;
  }
  @include mixin.sp{
    height: 6.4rem;
    padding: 1.6rem 0 0 0;
  }
}
.hd__inr{
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include mixin.pc{
    padding: 0 clamp(2rem,4rem,4vw);
  }
  @include mixin.sp{
    padding: 0 1.5rem;
  }
}
.hd__logo{
  width: 24rem;
  max-width: 30vw;
}